extends default

block content 
    div(class="d-flex justify-content-center" style="float: left; width: 100%; height: 600px;")
        div(id="pie-chart" style="float: left; width: 25%; height: 400px;")
        div(id="pie-chart2" style="float: left; width: 25%; height: 400px;")
        div(id="pie-chart3" style="float: left; width: 25%; height: 400px;")
    div(class="d-flex justify-content-center" style="float: left; width: 100%; height: 600px;")
        p(class="d-flex justify-content-center col-4") Bonuses to pay 
        p(id="bonus" class="d-flex justify-content-center col-4")
        script.
            var values=!{JSON.stringify(results2)}
            let value=[]
            for(i in values){
                value.push(values[i]["Month"])
            }
                let cost=[]
                for(j in values){
                    cost.push(String(values[j]["Count_Of_Sales"]))
                }
                let bonus= 0.1 * cost
                console.log(values)
                var pieDiv = document.getElementById("pie-chart");

                var traceA = {
                type: "pie",
                values: cost,
                labels: value
                };

                var data = [traceA];

                var layout = {
                title: "Total sales per months"
                };

                Plotly.plot(pieDiv, data, layout);


            var values2=!{JSON.stringify(result3)}
            let value2=[]
            for(i in values2){
                value2.push(values2[i]["doctor_t1"])
                value2.push(values2[i]["doctor_t2"])
                value2.push(values2[i]["doctor_t3"])
            }
                let cost2=[]
                let bonus3=[]
                for(j in values2){
                    cost2.push(String(values2[j]["cost_1"]))
                    cost2.push(String(values2[j]["cost_2"]))
                    cost2.push(String(values2[j]["cost_3"]))
                    bonus3.push(String(values2[j]["cost_1"])*0.1)
                    bonus3.push(String(values2[j]["cost_2"])*0.1)
                    bonus3.push(String(values2[j]["cost_3"])*0.1)
                }

                var pieDiv2 = document.getElementById("pie-chart2");

                var traceb = {
                type: "pie",
                values: cost2,
                labels: value2
                };

                var data2 = [traceb];

                var layout2 = {
                title: "Sales of each Doctor"
                };

                Plotly.plot(pieDiv2, data2, layout2);
                
                var pieDiv3 = document.getElementById("pie-chart3");
            var tracec = {
                type: "pie",
                values: bonus3,
                labels: value2
                };
                var data3= [tracec]
                var layout3={
                    title: "Bonuses"
                }
                Plotly.plot(pieDiv3, data3, layout3);

                var div = document.getElementById('bonus');

                div.innerHTML += bonus ;

            