section(class="" style ="background-color:white;")
div(class="text-center text-md-start mt-5" style="margin-bottom:10px")
    p(class="text-center" style="font-family: 'Dosis'; font-weight:400; font-size:50px;") FOR FURTHER INFORMATION OR APPOINTMENTS
    i(class="material-icons" style="margin: 0;position: relative;top: 50%; left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);") get_app
    div(class="booking-container")
        button(type="button" class="btn center" onclick="location.href='booking'" style="background:#31c5c7") 
            strong Book Appointment
style.
    .center {
        margin: 0;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-bottom: 10px;
    }
     .column >i.material-icons {
        display: inline-block;
        border-radius: 80px;
        box-shadow: 0 0 2px #888;
        padding: 0.5em 0.6em;
        background: #31c5c7;

        }