extends default

block content
    style.
        .form-control{
        border-radius: 20px !important;
        box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF !Important;
        border: none;
        background: transparent !important;
            
        }
        .wrap .container{
            box-shadow:3px 3px 5px #BABECC,  -5px -5px 10px #FFF;

        }

        .form-control:hover{
            box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF !important;
        }
        
    form(action="https://formsubmit.co/contact.zentist@gmail.com" method="POST")
        div(class="wrapp")
            div(class="container my-5 py-5 ")
                section(class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text")
                    div(class="row")
                        div(class="col-lg-5 col-md-12 mb-0 mb-md-0")
                            h3(class="font-weight-bold") Contact us
                            p(class="text-muted") Use the form to leave a feedback.
                            p
                                span(class="font-weight-bold mr-2") Email:
                                    a(href="") contact.zentist@gmail.com
                            p
                                span(class="font-weight-bold mr-2") Phone:
                                     a(href="") +44 07437728133
                            p
                                span(class="font-weight-bold mr-2") Address:
                                a(href="https://www.google.com/maps/place/158+De+Havilland+Rd,+Edgware+HA8+5QB/data=!4m2!3m1!1s0x48761152d9338af9:0x68d896b7428a0668?sa=X&ved=2ahUKEwjbqqKF0-X7AhVwQ0EAHZIsBKoQ8gF6BAgPEAE") 158 DeHaviland Road
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.382927543036!2d-0.276263548762106!3d51.597871911805385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761152d9338af9%3A0x68d896b7428a0668!2s158%20De%20Havilland%20Rd%2C%20Edgware%20HA8%205QB!5e0!3m2!1sro!2suk!4v1670352567175!5m2!1sro!2suk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
                        div(class="col-lg-7 col-md-12 mb-4 mb-md-0")
                            div(class="row")
                                div(class="col-md-9")
                                div(class="md-form md-outline mb-0")
                                    input(type="text" id="form-name" class="form-control" name ="Name" placeholder="Name")
                                div(class="md-form md-outline mt-3")
                                    input(type="email" id="form-email" class="form-control" name="email" placeholder="Email Address")
                                    div(class="col-md-9")
                                    div(class="md-form md-outline mt-3")
                                        select(class="mdb-select md-form  form-control" id="comp" name="Branch")
                                            option(value="" disabled selected) Choose branch where you had your treatment
                                            option(value="Edgware") Edgware 
                                            option(value="Barnet") Barnet
                                            option(value="Baxleyheath") Baxleyheath 
                                            option(value="Criclewood") Cricklewood
                                    input(type="hidden" name="_next" value="http://localhost:7000/")
                                    input(type="hidden" name="_autoresponse" value="Thank you for your feedback. One of our collegues will be in touch with you.")
                                    input(type="hidden" name="_template" value="box")
                                    div(class="md-form md-outline mt-2")
                                        textarea(id="form-message" class="md-textarea form-control" rows="10" name="Message" placeholder="Write Your Message Here...")
                                    button(type="submit" class="btn btn-info btn-sm ml-0") Submit
                                        i(class="far fa-paper-plane ml-2")