extends default

block content
  div.container(class="d-flex justify-content-around")
   p This clinic is the best
  div.container(class="d-flex justify-content-around")
    a(href="/results" class="btn btn-outline-primary") Dashboard