extends default

block content
  div.container(class="d-flex justify-content-around")
   p This clinic is the best
  div.container(class="d-flex justify-content-around")
   a(type="button" href= username ? "/results" : "/login" class="btn btn-outline-primary me-2") #{username ? "Results" : "Login"}
  