extends default

block content
 body
  h1 Clients Dashboard            `
    div.container(class="d-flex justify-content-around")
      a.btn(href='/add_client' type="button" class="btn btn-outline-primary") Add Client 
      a.btn(href='#' type="button" class="btn btn-outline-primary") Edit Client 
      a.btn(href='#' type="button" class="btn btn-outline-primary") Delete Client 
      a.btn(href='/show_customers' type="button" class="btn btn-outline-primary") Show All Customers