extends default
block content 
    div(class="container")  
        div(id="sidebar-wrapper")
            ul(class="sidebar-nav")
                li(class="sidebar-brand")
                    a(href="#")
                        i(class="bi bi-person-rolodex" role="img" aria-label="GitHub") #{username}
                li
                    a(href="/add_client") Add Client
                li
                    a(href="delete_client") Delete Client
                li
                    a(href="/show_customers") Search Database
                li  
                    a(href="/agenda") Agenda
                li
                    if(username)
                    for d in results2
                        if(d.role=='admin')
                            a(href="/analytics") Analytics
                li
                    if(username)
                    for d in results2
                        if(d.role=='admin')
                            a(href="/admin_dashboard") Admin Dashboard
                li
                    a(href="/agenda") Contact

    
        div(id="page-content-wrapper")
            div(class="container-fluid")
                div(class="row")
                    div(class="col-lg-12")                                
                        h1(style="text-align: center; margin-top: 50px;") Welcome #{username} 
                        h2(style="text-align: center; margin-bottom: 30px;")  Dashboard 
                        for d in results1
                            div(class="card" style="text-align: center; margin-top: 50px;" )
                                p(style="text-align: center; margin-top: 10px;") Your next appointment is with:
                                h3(style="text-align: center; margin-top: 50px;")= d.firstName
                                h5(style="text-align: center; margin-top: 50px;")=d.nextapp


    style.
        .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        }


        #wrapper.toggled {
            padding-left: 250px;
        }

        #sidebar-wrapper {
            z-index: 1000;
            position: absolute;
            left: 250px;
            width: 0;
            height: 85%;
            margin-left: -250px;
            overflow-y: auto;
            background: #e27084;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        #wrapper.toggled #sidebar-wrapper {
            width: 250px;
        }

        #page-content-wrapper {
            width: 100%;
            position: absolute;
            padding: 15px;
        }

        #wrapper.toggled #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }

        .sidebar-nav {
            position: absolute;
            top: 0;
            width: 250px;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .sidebar-nav li {
            text-indent: 20px;
            line-height: 40px;
        }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: white;
        }

        .sidebar-nav li a:hover {
            text-decoration: none;
            color: black;
            background: rgba(255,255,255,0.2);
        }

        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
            text-decoration: none;
        }

        .sidebar-nav > .sidebar-brand {
            height: 65px;
            font-size: 18px;
            line-height: 60px;
        }

        .sidebar-nav > .sidebar-brand a {
            color: white;
        }

        .sidebar-nav > .sidebar-brand a:hover {
            color: black;
            background: none;
        }

        @media(min-width:768px) {
            #wrapper {
                padding-left: 250px;
            }

            #wrapper.toggled {
                padding-left: 0;
            }

            #sidebar-wrapper {
                width: 250px;
            }

            #wrapper.toggled #sidebar-wrapper {
                width: 0;
            }

            #page-content-wrapper {
                padding: 0px;
                position: relative;
            }

            #wrapper.toggled #page-content-wrapper {
                position: relative;
                margin-right: 0;
            }
        }
        @media (min-width: 768px) {
        .modal-xl {
            width: 90%;
        max-width:1200px;
        }
        }
