extends default
block content
    h2(class="text-center")
        p(style="font-family: 'Dosis'; font-weight:400; font-size:50px;" ) MEET THE TEAM
        hr( style="width:55%;margin-left: auto;margin-right: auto;")
        p Our fantastic team of professionals provides services to both children and adults
    div(class="d-flex")
        div(class="container")
            div(class="img-container")
                img(src="doc1.jpg" style="object-fit: cover ;" alt="")
            ul(class="social-media")
                li
                    a(href="/j_smith")
                        i(class="material-icons") read_more
            div(class="user-info")
                h2 John Smith II
                span General Dentist
                p 15 years experience 
        div(class="container")
            div(class="img-container")
                img(src="doc2.jpg" style="object-fit: cover;" alt="")
            ul(class="social-media")
                li
                    a(href="/k_asin")
                        i(class="material-icons") read_more
            div(class="user-info")
                h2 Kamely Asin
                span 20-july
        div(class="container")
            div(class="img-container")
                img(src="doc3.jpg" style="object-fit: cover;" alt="")
            ul(class="social-media")
                li
                    a(href="/t_hightower")
                        i(class="material-icons") read_more
            div(class="user-info")
                h2 Trevor Hightower
                span 20-july
    include book
        
    style.
        .container {
        position: relative;
        height: 500px;
        width: 400px;
        overflow: hidden;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
        transition: box-shadow 0.3s ease-out;
        }

        .container:hover {
        box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
        }

        .img-container {
        background-color: #000;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: transform 0.3s ease-out;
        z-index: 2;
        }

        .img-container:hover {
            cursor: pointer;
        }

        .container:hover .img-container {
            transform: translateY(-100px);
        }

        .img-container > img {
        height: 100%;
        width: 100%;
        transition: opacity 0.3s ease-out;
        }

        .container:hover > .img-container > img {
        opacity: 0.5;
        }

        .social-media {
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        margin: 0;
        padding: 0;
        }

        .social-media > li {
        list-style: none;
        }

        .social-media > li > a {
        display: block;
        height: 50px;
        width: 50px;
        background-color: #FFF;
        text-align: center;
        color: #262626;
        margin: 0 5px;
        border-radius: 50%;
        opacity: 0;
        transform: translateY(200px);
        transition: all 0.3s ease-out;
        }

        .container:hover > .social-media > li > a {
        transform: translateY(0);
        opacity: 1;
        }

        .social-media > li > a > i {
        font-size: 24px;
        line-height: 50px;
        transition: transform 0.3s ease-out;
        }

        .social-media > li > a:hover > i {
        transform: rotateY(360deg);
        }

        .container:hover .social-media li:nth-child(1) a {
            transition-delay: 0s;
        }

        .container:hover .social-media li:nth-child(2) a {
            transition-delay: 0.1s;
        }

        .container:hover .social-media li:nth-child(3) a {
            transition-delay: 0.2s;
        }

        .container:hover .social-media li:nth-child(4) a {
            transition-delay: 0.3s;
        }

        .container:hover .social-media li:nth-child(5) a {
            transition-delay: 0.4s;
        }

        .user-info {
        position: absolute;
            bottom: 0;
            left: 0;
            background-color: #FFF;
            height: 100px;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
        text-align: center
        }

        .user-info > h2 {
        padding: 0;
        margin: 10px 0;
        }

        .user-info > span {
        color: #262626;
        font-size: 16px;
        }